* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

.header {
  width: 100%;
  background-color: #285c04;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 49px;
  align-items: center;
  /* padding: 50px;  */
  gap: 30px;
  font-family: "Roboto";
}
.mobileheader{width: 100%;
  background-color: #285c04;
  height: 80px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 49px;
  align-items: center;
  /* padding: 50px;  */
  gap: 50px;
  font-family: "Roboto";}
  .mobilelogo1{display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;}
#checkbtn{justify-content: center;
  align-items: flex-start;
  color: white;
line-height: 80px;
/* margin-left: 10px; */
font-size: 30px;
display: none;}
#check{display: none;}

.searchbox {
  font-size: 15px;
  background: transparent;
  border: none;
  color: white;
  background-color: #285c04;
}

.searchbox::placeholder {
  color: white;
}
.nav{ width: 100%;
  /* background-color: red; */
  height: 45px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 50px;  */
  gap: 30px;} 

.input {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mobileinput{ border-bottom: 1px solid white;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;}
.logo1{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;}
.companylogo {
  color: white;
  font-size: 14px;
  
  font-family:"Roboto";
}
.register{display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 20px;
font-family: "Roboto";}
.registerlogin{color: white;
  font-size: 20px;
font-family: "Roboto";}
.ul {
  width: 100%;
  /* background-color: red; */
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 50px;  */
  gap: 30px;
}

.li {
  list-style-type: none;
  color: #285c04;
  font-family: "Roboto";

  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  background-image: url(../html/american\ food\ image.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

/*heading box css*/
.heading {
  width: 50%;
  /* height: 350px; */
  gap: 20px;
  /* font-family:"Roboto"; */
  /* background-color: red; */
  color: #285c04;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}

/*h1 americanfood css*/
.americanfood {
  font-size: 67px;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.besttasteheading {
  font-size: 54px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

.line {
  width: 80%;
  height: 3px;
  color: #285c04;
  border-bottom: 2px solid;
}

.lorem {
  /* border-top:3px solid #285c04;  */
  font-size: 18px;
  font-family: "Roboto";
  width: fit-content;
}

/*button oerder now css*/
.buttonsection {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button1 {
  width: 136px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #285c04;
  color: white;
  border: 1px solid #285c04;
  border-top-left-radius: 24px 20px;
  border-bottom-right-radius: 24px 20px;
  font-family: "Roboto";
  text-align: center;
}

/*rrowbutton css*/
.arrowbutton {
  height: 44px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #285c04;
  color: white;
  border: 1px solid #285c04;
  border-top-left-radius: 22px 20px;
  border-bottom-right-radius: 22px 20px;
  font-family: "Roboto";
  text-align: center;
}

/*order now h1 css*/
.ordernow {
  color: white;
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
}

.aboutus-section {
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutustext {
  font-size: 100px;
  font-weight: 700;
  font-family: "Roboto";
  color: #e8ece4;

  position: relative;
}

.aboutustext2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto";
  color: #285c04;
  position: absolute;
}

/*videosection css*/
.videosection {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/*textbox section css*/
.textboxsection {
  width: 50%;
  height: 50%;

  gap: 20px;

  color: #285c04;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}

/*foodvideo section css*/
.foodvideo {
  position: absolute;
  top: 1%;
  left: 76%;
  transform: translate(-50%, -50%);
  /* position: absolute;
  top: 144%;
  left: 80%;
  transform: translate(-50%, -50%); */

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 50%;  */
  /* height: 50%; */
  justify-content: flex-end;
  align-items: center;
  /* padding-bottom: 30px; */
}

.pastavideo {
  width: 330px;
  height: 330px;
  object-fit: cover;
  display: flex;
  position: absolute;
  /* position: absolute; */
  /* border-top:4px solid #285c04;
  border-left: 4px solid #285c04; */
}

.beforeDiv::before {
  content: "";
  width: 120px;
  height: 120px;
  display: block;
  position: relative;
  border-top: 4px solid #285c04;
  border-left: 4px solid #285c04;
  top: 106px;
  left: -18px;
}

/* position: absolute;
  top: 37%;
  left: 77%;
  transform: translate(-50%, -50%)
} */
/* .foodvideo::after {
  background-color: #285c04;
  content: "";
  width: 120px;
  height: 4px;
  display: block;
  color: #285c04;
} */
.besttasteheading1 {
  font-size: 54px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

.lorem1 {
  /* border-top:3px solid #285c04;  */
  font-size: 18px;
  font-family: "Roboto";
  width: fit-content;
}

/* videosection2 css*/
.videosection2 {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.foodvideo2 {
  position: absolute;
  top: 1%;
  left: 9%;
  transform: translate(-50%, -50%);
  justify-content: flex-end;
  align-items: center;
}

.servicesection {
  width: 100%;
  height: fit-content;
  gap: 20px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servicebox {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servictext {
  font-size: 100px;
  font-weight: 700;
  font-family: "Roboto";
  color: #e8ece4;

  position: relative;
}

.servictext2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto";
  color: #285c04;
  position: absolute;
}

.lorems {
  /* width: 76%; */
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  color: #285c04;
}

.peanutbutter {
  width: 100%;
  height: fit-content;
  padding: 30px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.peanutextboxsection {
  width: 50%;
  height: 50%;

  gap: 20px;

  color: #285c04;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}

.lorem2 {
  /* border-top:3px solid #285c04;  */
  font-size: 18px;
  font-family: "Roboto";
  width: fit-content;
}

.peanutimagebox {
  width: 40%;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.peanutimage {
  width: 100%;
  height: 80%;
}

.pumpkinsection {
  width: 100%;
  height: fit-content;
  padding: 30px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.jabalayasection {
  width: 100%;
  height: fit-content;
  padding: 30px 30px 80px 30px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.discountbox {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  background-image: url(../html/peanut\ image.png);
  background-size: cover;
 opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.special {
  font-family: "Roboto";
  text-align: left;
}

.americanfood2 {
  font-size: 58px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.besttasteheadingfood {
  font-size: 33px;
  letter-spacing: 14px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

.Pricingsection {
  width: 100%;
  height: fit-content;
  gap: 5px;
  display: flex;
  padding: 50px 50px 10px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardsection {
  /* box-shadow: 0px 0px 30px; */
  width: 100%;
  height: 115vh;
  gap: 2%;

  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.card1 {
  width: 414px;
  height: 600px;
  /* width: 30%;
 
  height: 100%; */
  /* border: 2px solid red; */
  background-color: #f1f2f2;
  font-family: "Roboto";
  color: #285c04;
  font-size: 29px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  align-items: center;
  text-align: right;
  gap: 5%;
  position: relative;
}

.plan {
  width: 100%;
  background-color: #448c00;
  height: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}

.shape {
  transform: translate(3px, -50px) rotate(-38deg);
  position: relative;
  left: -40px;
  top: 20px;
  /* right: 1px; */
  transform-origin: right;
}

.hot {
  transform-origin: center;
  transform: skew(5, 6);
  transform: translate(82px, 32px) rotate(42deg);
  transform-origin: right;
}

/* font-family: "Roboto"; */
/* font-size: 20px; *
  
/* width: 60%;
height: 15%; */
/* } */
.hotp {
  font-family: "Roboto";
  top: 27px;
  right: 57px;
  position: absolute;
  font-size: 20px;
}

.basic-container {
  display: flex;
  flex-direction: column;
}

.card2 {
  width: 414px;
  height: 600px;
  box-shadow: 0px 0px 12px;
  transition: 0.3s ease-in-out;
  /* width: 30%;
  
  height: 100%; */
  /* border: 2px solid red; */
  background-color: #f1f2f2;
  font-family: "Roboto";
  color: #285c04;
  font-size: 29px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  position: relative;
  padding-bottom: 50px;
  gap: 5%;
}

.chickenheading {
  font-size: 20px;
}

.card3 {
  width: 414px;
  height: 600px;
  /* width: 30%;
  
  height: 100%; */
  /* border: 2px solid red; */
  background-color: #f1f2f2;
  font-family: "Roboto";
  color: #285c04;
  font-size: 29px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  position: relative;
  padding-bottom: 50px;
  gap: 5%;
}

/*cover image section 4 css*/
.backgroundcoverimage3 {
  background-image: url(../html/sandwich\ image.png);
  width: 100%;
  height: fit-content;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 50px;
}

.salediscount {
  font-size: 58px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: right;
}

.allfoodproduct {
  font-size: 33px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: right;
}

.special2 {
  font-family: "Roboto";
  text-align: right;
}

.heading2 {
  width: 50%;
  /* height: 350px; */
  gap: 20px;
  /* font-family:"Roboto"; */
  /* background-color: red; */
  color: #285c04;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: justify;
}

/*blog section css*/
.blog {
  width: 100%;
  height: fit-content;
  gap: 20px;
  display: flex;
  padding: 50px ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Eat food section css*/
.eatfoodcontainer {
  width: 100%;
  height: fit-content;
  gap: 40px;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0px 50px;
}

.foodtextsection {
  width: 414px;
  height: 386px;


  background-color: #f1f2f2;
  gap: 30px;
  overflow: hidden;
  padding: 0px 20px;

  color: #285c04;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
}

.foodtextsectionheahing {
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto";
  text-align: left;
}

.loremepsum {
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto";
  width: fit-content;
}

.foodimage {
  width: 414px;
  height: 386px;
}

.foodimage2 {
  width: 414px;
  height: 386px;
}

/*burger image css*/
.burgerimage {
  width: 414px;
  height: 386px;
}

/*footer section css*/
.footer {
  background-image: url(../html/Shape\ \(3\).png);
  background-size: cover;

  width: 100%;
  height: 506px;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 50px;
  margin-top: 60px;
  gap: 30px;
}

/*logo div css*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footerheading {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.companylogo {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

/*heading section css*/
.americafood-footer {
  font-size: 48px;

  /* line-height: 156px;  */
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
}

.americafood-footer2 {
  font-size: 33px;


  /* line-height: 156px;  */
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}

/*social icons css*/
.socialicondiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.socialicons {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

/* circle icon css*/
.icon2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.circleicon2 {
  position: absolute;
  bottom: 251px;
  right: -496px;
}

.dotedcircle {
  position: absolute;
  bottom: 249px;
  right: -510px;
}

.triangeicon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.triangleshape {
  position: absolute;
  top: 282px;
  left: -506px;
}

.triangleshape1 {
  position: absolute;
  top: 284px;
  left: -498px;
}