/* body {
  background-color: green;
} */
.header{padding: 0px 34px 0px 25px;}
.register{gap:8px ;}
.heading {
  width: 80%;
}

.americanfood {
  font-size: 60px;
}
.besttasteheading {
  font-size: 50px;
}
.videosection{flex-direction: row;
width: 100%;
padding: 40px;
/* justify-content: center;
/* align-items: center; */
} 
.pastavideo{width: 270px;
height: 270px;}

.textboxsection{width: 50%;}
.besttasteheading1{font-size: 32px;}
.lorem1{font-size: 16px;}
.servictext{font-size: 80px;}
.servictext2{font-size: 40px;}
.lorem{font-size: 20px;}

.americanfood2 {font-size: 38px;}
.besttasteheadingfood{font-size: 18px;}
.lorems {text-align: justify;
  font-size: 20px;}
  .foodtextsection {width: 100%;
  height: 347px;
font-family: "Roboto";
}
.plan{height: 190px;}
.card1{height: 480px;}
.card2{height: 480px;}
.card3{height: 480px;}

.shape {
  transform: translate(3px, -50px) rotate(-38deg);
  position: relative;
  left: -50px;
  top: 63px;}
  .hotp{top:74px;
  left:4px ;
  font-size: 10px;}
.foodtextsectionheahing{font-size: 16px;}
.loremepsum{font-size: 15px;}
.button1 {width: 102px;
height: 37px;}
.foodimage {
  width: 100%;
  height: 347px;
 
}
.foodimage2 {
  width: 100%;
  height: 347px;
} 
.circleicon2 {
  position: absolute;
  bottom: 257px;
  right: -293px;
}
.dotedcircle {
  position: absolute;
  bottom: 257px;
  right: -304px;}
  .triangleshape {
    position: absolute;
    top: 269px;
    left: -324px;
  }
  .triangleshape1 {
    position: absolute;
    top: 271px;
    left: -316px;
  }